<nav>
    <div class="menu-wrap">
        <div (click)='test()' class="hamburger">
          <div id="stripe1"></div>
          <div id="stripe2"></div>
          <div id="stripe3"></div>
          <div id="stripe4"></div>
        </div>
        <div id="menu" class="menu">
          <ul>
            <a href="#top"><li>JUMP top!</li></a>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <a href="#bottom"><li>JUMP bottom!</li></a>
  
          </ul>
        </div>
    </div>
  </nav>
  
  <div class="content">
      <div id="top">Top</div>
      <div class="block"><br>Scroll me
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corporis assumenda provident fugiat earum dolores, sunt alias cum magnam aperiam veritatis odit laborum necessitatibus placeat officia magni! Ab eum reprehenderit nobis consequuntur soluta obcaecati! Deserunt quidem itaque animi, necessitatibus, error facere quas odio exercitationem consectetur impedit accusamus veniam! Iusto, at.</p>
      </div>
      <div class="block">Scroll me</div>
      <div class="block">Scroll me</div>
  
      <div id="bottom">Bottom</div>
  </div>
  
  
  
  
  